.button {
  padding: var(--button-padding, 15px 25px) !important;
  background-color: #4480EA;
  font-family: var(--font-unbounded, sans-serif);
  font-weight: 700;
  font-size: var(--button-font-size, 20px) !important;
  color: #fff !important;
  border: none;
  border-radius: var(--button-border-radius, 10px) !important;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #3568C3;
  transform: scale(1.05);
}
