.footer {
    background-color: #F4F7FF;
    margin-top: 2.8125rem;
    padding-top: 2.8125rem;
}

.footer__inner {
    display: flex;
}

.footer__inner__item__card {
    background-color: #fff;

    border-radius: 1.25rem;

    display: flex;

    height: 7.5rem;
}

.footer__inner__item__block {
    width: 65%;

    display: flex;
}

.footer__inner__item__link__block {
    margin-top: 1.25rem;
    margin-bottom: 4.375rem;

    display: flex;
}

.footer__inner__item__link {
    margin-left: 2.5rem;

    font-family: var(--font-montserrat);
    font-weight: 400;
    font-style: Regular;
    font-size: .75rem;
    text-decoration: underline;
}

.footer__inner__item__description__header {
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-style: Bold;
    font-size: .9375rem;
    

    margin-top: 20px;
}

.footer__inner__item__link:first-child {
    margin-left: 80px;
}

.footer__inner__item__img {
    width: 25px;
    height: 22px;

    margin-top: 2.1875rem;
    margin-left: 2.1875rem;
}

.footer__inner__item__1 {
    width: 55%;
}

.footer__inner__item__2 {
    width: 45%;

    margin-left: 3.125rem;
}

.footer__inner__item__2 .footer__inner__item__description {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    leading-trim: NONE;
    line-height: 123%;
    letter-spacing: 0.34px;


    padding: .3125rem 2.1875rem 1.25rem 2.1875rem;
}

.footer__inner__item__1 .footer__inner__item__description {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-style: Regular;
    font-size: .9375rem;
    leading-trim: NONE;
    line-height: 123%;
    letter-spacing: 0.34px;

    padding: 1.875rem 2.1875rem 2.1875rem 1.25rem;
}

.footer__socials {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__socials__container {
    display: flex;
    justify-content: center;
    gap: 40px;

    margin-top: .9375rem;
}

.footer__socials__header {
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-style: Bold;
    font-size: .9375rem;
    leading-trim: NONE;
    line-height: 115.99999999999999%;
    letter-spacing: 0.37px;
}

.footer__socials__copyright {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-style: Regular;
    font-size: .75rem;
    leading-trim: NONE;
    line-height: 126%;
    letter-spacing: 0.34px;

    margin-top: 1.875rem;
}