.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F7FF;
}

.card {
  width: 100%;
  max-width: 35rem;
  border-radius: 1.8rem;
  background-color: #F4F7FF;
  /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); */
  padding: 4rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.switchers {
  display: flex;
  gap: 0.9375rem;
  margin-bottom: 1.5rem;
}

/* .switcherEmail {
  flex: 1;
  border-radius: 9999px;
  background-color: #2f6bff;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
} */

.switcherGoogle {
  flex: 1;
  border-radius: 9999px;
  border: 1px solid #2f6bff;
  color: #2f6bff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9375rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.switcherGoogle span:first-child {
  font-size: 1.125rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: block;
  font-size: 0.9375rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.input {
  width: 100%;
  border-radius: 0.625rem;
  border: 1px solid transparent;
  background-color: #FFFFFF;
  padding-left: 0.625rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.9375rem;
  outline: none;
}

.input:focus {
  border-color: #4480EA;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  color: #6b7280;
}

.checkbox {
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #d1d5db;
}

.loginLink {
  display: block;
  font-size: 0.925rem;
  color: #4480EA;
  font-weight: 700;
  text-decoration: underline;
}

.error {
  font-size: 0.75rem;
  color: #ef4444;
}

.submitButton {
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 9999px;
  background-color: #2f6bff;
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
