@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
    font-size: 16px;
}

body {
  background: #fff;
  color: #000;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
}

Link {
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button { 
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
}

.header__style {
    font-family: var(--font-unbounded);
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;

    color: #4480EA;
}


