@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  color: #000;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

Link {
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button { 
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
}

.header__style {
    font-family: var(--font-unbounded);
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;

    color: #4480EA;
}

/* HEADER============================== */

.header {
    width: 100%;

    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);

    padding-top: 20px;
    padding-bottom: 20px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.nav__logo__img {
    width: 70px;
    height: 60px;
}

.nav__inner {
    cursor: pointer;
    display: flex;
    align-items: center;

    margin-left: 115px;
}

.nav__link {
    color: #000;
    font-size: 15px;
    margin-left: 10px;
    transition: all 0.2s;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

    margin-left: 50px;

    position: relative;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #4480EA;
    transition: width 0.3s ease;
}

.nav__link:hover {
    color: #4480EA;
}

.nav__link:hover:after {
    width: 100%;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__input {
    width: 210px;
    height: 40px;
    padding: 10px 15px;
    border: 2px solid #4480EA;
    border-radius: 8px;
    
    background: url('../../public/images/search-img.png') no-repeat 15px center;
    padding-left: 37px;

    margin-left: 30px;

    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 15px;

    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.nav__input-input::placeholder {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 15px;
}

.nav__profile__img {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    border: 3px solid #4480EA;

    margin-left: 20px;
}

/* INTRO============================== */

.intro__inner {
    margin-top: 80px;
    
    display: flex;  
}

.intro__inner__block {
    margin-left: 120px;
    margin-top: 75px;
}

.intro__inner__title {
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    text-transform: uppercase;
    color: #8A1A1A;
}

.intro__inner__title span {
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    text-transform: uppercase;
    color: #4480EA;
}

.intro__inner__text {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;

    width: 420px;

    margin-top: 50px;
}

.intro__inner__button__wrapper {
    margin-top: 55px;
}

.intro__inner__button {
    padding: 15px 25px;
    background-color: #4480EA;

    font-family: var(--font-unbounded);
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;

    color: #fff;

    border-radius: 10px;
}

/* Search ======================== */

.search {
    margin-top: 165px;
}

.search__text {
    margin-top: 50px;

    color: #000;
    font-family: var(--font-unbounded);
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
}

.search__input {
    width: 75%;
    height: 50px;
    padding: 10px 15px;
    border: 2px solid #4480EA;
    border-radius: 8px;

    margin-top: 15px;

    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 15px;

    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search__input__text {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    opacity: .5;

    margin-top: 15px;
}

/* Materials ====================== */
.materials {
    margin-top: 135px;
    position: relative;
}

.materials__slider {
    margin-top: 25px;

    display: flex;
    gap: 20px;
}

.materials__item {
    flex: 0 0 33.33%;

}

.materials__item__img {
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    width: 100%;
}

.materials__item__text {
    background-color: #F4F7FF;

    padding-left: 20px;
}

.materials__item__header {
    font-family: var(--font-unbounded);
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;

    color: #8A1A1A;

    padding-top: 30px;
}

.materials__item__subheader {
    font-family: var(--font-unbounded);
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;

    padding-top: 10px;
}

.materials__article {
    color: #4480EA;
}

.materials__item__description {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;

    padding: 30px 48px 115px 0px;
}

.slider__arrow {
    transform: translateY(-50%);
    background-color: #F4F7FF;
    color: #4480EA;
    border: none;
    font-size: 24px;
    cursor: pointer;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    transition: all 0.3s ease; 
}

.slider__arrow:hover {
    border: 1px solid #4480EA;
}

.slider__arrow__left {
    position: absolute;
    top: 50%;
    left: 7%;

    z-index: 10;
}

.slider__arrow__right {
    position: absolute;
    top: 50%;
    right: 7%;

    z-index: 10;
}

.materials__slider {
  overflow: hidden;
  width: 100%;
}

.materials__track {
  display: flex;
  transition: transform 0.5s ease;
}

.materials__item {
  flex: 0 0 calc(100% / 3); /* каждый элемент занимает треть ширины */
  box-sizing: border-box;
  padding: 10px;

  height: 565px;
}

/* Footer ======================= */

.footer {
    background-color: #F4F7FF;
    margin-top: 45px;
    padding-top: 45px;
}

.footer__inner {
    display: flex;
}

.footer__inner__item__card {
    background-color: #fff;

    border-radius: 20px;

    display: flex;

    height: 120px;
}

.footer__inner__item__block {
    width: 65%;

    display: flex;
}

.footer__inner__item__link__block {
    margin-top: 20px;
    margin-bottom: 70px;

    display: flex;
}

.footer__inner__item__link {
    margin-left: 40px;

    font-family: var(--font-montserrat);
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    text-decoration: underline;
}

.footer__inner__item__description__header {
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
    

    margin-top: 20px;
}

.footer__inner__item__link:first-child {
    margin-left: 80px;
}

.footer__inner__item__img {
    width: 25px;
    height: 22px;

    margin-top: 35px;
    margin-left: 35px;
}

.footer__inner__item__1 {
    width: 55%;
}

.footer__inner__item__2 {
    width: 45%;

    margin-left: 50px;
}

.footer__inner__item__2 .footer__inner__item__description {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    leading-trim: NONE;
    line-height: 123%;
    letter-spacing: 0.34px;


    padding: 5px 35px 20px 35px;
}

.footer__inner__item__1 .footer__inner__item__description {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    leading-trim: NONE;
    line-height: 123%;
    letter-spacing: 0.34px;

    padding: 30px 35px 35px 20px;
}

.footer__socials {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__socials__container {
    display: flex;
    justify-content: center;
    gap: 40px;

    margin-top: 15px;
}

.footer__socials__header {
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
    leading-trim: NONE;
    line-height: 115.99999999999999%;
    letter-spacing: 0.37px;
}

.footer__socials__copyright {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 126%;
    letter-spacing: 0.34px;

    margin-top: 30px;
}


