.header {
    width: 100%;

    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);

    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.header__inner {
    display: flex;
    align-items: center;
}

.nav__logo__img {
    width: 70px;
    height: 60px;
}

.nav__inner {
    cursor: pointer;
    display: flex;
    align-items: center;

    margin-left: 7.1875rem;
}

.nav__link {
    color: #000;
    font-size: .9375rem;
    margin-left: .625rem;
    transition: all 0.2s;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

    margin-left: 3.125rem;

    position: relative;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #4480EA;
    transition: width 0.3s ease;
}

.nav__link:hover {
    color: #4480EA;
}

.nav__link:hover:after {
    width: 100%;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__input {
    width: 13.125rem;
    height: 2.5rem;
    padding: 10px 15px;
    border: 2px solid #4480EA;
    border-radius: 8px;
    
    background: url('../../public/images/search-img.png') no-repeat 15px center;
    padding-left: 37px;

    margin-left: 30px;

    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: .9375rem;

    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.nav__input-input::placeholder {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: .9375rem;
}

.nav__profile__img {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    border: 3px solid #4480EA;

    margin-left: 20px;
}