.profile__aside {
  width: 35%;

  margin-top: 2rem;
}

.profile__aside__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  background-color: #F4F7FF;

  border-radius: 15px;

  padding-bottom: 1.5rem;
}

.profile__aside__header {
  font-family: var(--font-unbounded);
  font-weight: 700;
  font-style: Bold;
  font-size: 35px;
  leading-trim: NONE;
  line-height: 117%;
  letter-spacing: -2%;
  vertical-align: bottom;

  padding-top: 1.5rem;
}

.profile__aside__avatar {
  width: 135px;
  height: 135px;
  border-radius: 50%;

  border: .1875rem solid #4480EA;

  margin-top: .625rem;
}

.profile__aside__icon {
  width: 1rem;
  height: 1rem;
}

.profile__aside__btns {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin-top: 1.875rem;
}

.profile__aside__link {
  text-decoration: none;
  outline: none;
  border: none;

  margin-bottom: 0.5rem;

  
}

.profile__aside__btn {
  border: 2px solid #4480EA !important;

  text-transform: lowercase;

  display: flex;
  align-items: center;

  font-weight: 400 !important;

  gap: .625rem;

  width: 11.875rem;
}

.profile__aside__link:last-child {
  margin-bottom: 0;
}