.search {
    margin-top: 10.3125rem;
}

.search__text {
    margin-top: 3.125rem;

    color: #000;
    font-family: var(--font-unbounded);
    font-weight: 700;
    font-style: Bold;
    font-size: 1.25rem;
}

.search__input {
    width: 75%;
    height: 3.125rem;
    padding: .625rem .9375rem;
    border: 2px solid #4480EA;
    border-radius: 8px;

    margin-top: .9375rem;

    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: .9375rem;

    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search__input__text {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-style: Regular;
    font-size: .9375rem;
    opacity: .5;

    margin-top: .9375rem;
}
